<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>

    {% load static %}
</head>
<body>
    <style>
        html {
            font-family: Arial, sans-serif;
            font-size: 16px;
            background-color: green;
        }
    </style>
    <header>
        <a href="">Home</a>
        <a href="register/">Register</a>
        <a href="login">Log In</a>
</header>
<h1>THIS IS ENGAGE</h1>
</body>
</html>