{% extends 'registration/base.html' %}

{% load static %}
{% block content %}
    <h1>Register</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ reg_form.username.label }} 
        {{ reg_form.username }}

        {{ reg_form.email.label }} 
        {{ reg_form.email }}

        {{ reg_form.password1.label }} 
        {{ reg_form.password1 }}

        {{ reg_form.password2.label }} 
        {{ reg_form.password2 }}

        {% if reg_form.errors %}
            <ul>
                {% for error in reg_form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <input type="submit" name="Register">
    </form>
{% endblock %}



