{% extends 'accounts/logged_in.html' %}
{% load crispy_forms_tags %}

{% block auth_content %}

<h2>Add department</h2>

<form method="post">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addDeptModal">
        Add Department
      </button>

        <!-- Modal -->
        <div class="modal fade" id="addDeptModal" tabindex="-1" aria-labelledby="addDeptModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addDeptModalLabel">Add Department</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="addDeptForm" method="post">
                    {% csrf_token %}
                    {{ dept_form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</form>

<h2>Departments</h2>
<table class="table">
    <thead>
        <tr>
            <th>Department</th>
            <th>Abbreviation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for dept in departments %}
        <tr>
            <td>{{ dept.name }}</td>
            <td>{{ dept.abbreviation }}</td>
            <td>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}