{% extends 'accounts/logged_in.html' %}

{% block auth_content %}

<h2>New Title</h2>

<form method="POST">
    <div class="container">

        <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addTitleModal">
            Add Title
          </button>

        <!-- Modal -->
        <div class="modal fade" id="addTitleModal" tabindex="-1" aria-labelledby="addTitleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addTitleModalLabel">Add Title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="addTitleForm" method="post" action="{% url 'add_title' %}">
                    {% csrf_token %}
                    {{ title_form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>

{% endblock %}