{% extends 'accounts/logged_in.html' %}
{% load crispy_forms_tags %}

{% block auth_content %}

<div class="container">

    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addPositionModal">
        Add Position
      </button>

    <!-- Modal -->
    <div class="modal fade" id="addPositionModal" tabindex="-1" aria-labelledby="addPositionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addPositionModalLabel">Add Position</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="addPositionForm" method="post" action="{% url 'accounts:add_position' %}">
                {% csrf_token %}
                {{ position_form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div> 
</div>

<h2>Copmany Positions</h2>
<table class="table">
  <thead>
      <tr>
          <th>Position</th>
          <th>Abbreviation</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% for pos in positions %}
      <tr>
          <td>{{ pos.name }}</td>
          <td>{{ pos.abbreviation }}</td>
          <td>
              <a href="{% url 'accounts:edit_position' pos.pk %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'accounts:delete_position' pos.pk %}" class="btn btn-danger">Delete</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>

{% endblock %}