{% extends 'accounts/logged_in.html' %}
{% load crispy_forms_tags %}

{% block auth_content %}

<h2>Add Employee</h2>

<form method="post">
    <div class="container">
        <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
            Add Employee
          </button>

        <!-- Modal -->
        <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="addEmployeeForm" method="post" action="{% url 'add_employee' %}">
                    {% csrf_token %}
                    {{ emp_form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}