{% load static %}
{% load bootstrap5 %}



<header class="d2c_navbar sticky-top">
  <div class="container">
      <!-- Navbar -->
<nav class="navbar navbar-expand-lg" id="d2c_main_nav">
  <!-- Logo -->
  <a class="navbar-brand" href="#">
      <img src="{% static 'assets/images/logo.png' %}" class="w-100" alt="Logo">
  </a>
  <!-- Logo -->

  <!-- HamBurger -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars"></i></span>
  </button>
  <!-- HamBurger -->

  <!-- Nav Item -->
  <div class="collapse navbar-collapse js-clone-nav justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active" href="#">Hello, Admin</a>
              </li>
              <li class="nav-item d-block d-lg-none">
                  <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item d-block d-lg-none">
                  <a class="nav-link" href="#">Company</a>
              </li>
              <li class="nav-item d-block d-lg-none">
                  <a class="nav-link" href="#">Register</a>
              </li>
      </ul>
      <div class="d2c_nav_btn d-none d-lg-block">
          <a href="#" class="nav-link d-inline-block m-1">Notifications</a>
          <a href="#" class="nav-link d-inline-block m-1">Settings</a>
          <a href="{% url 'logout' %}" class="btn m-1">Logout</a>
      </div>
  </div>
  <!-- Nav Item -->
</nav>

          <!-- Navbar -->

          <!-- Tab And Mobile View -->
          <div class="collapse navbar-collapse d2c_mobile_view" id="navbarSupportedContent">
              <div class="show_width container">
                  <div class="text-right">
                      <button class="navbar-toggler d2c_cross_btn p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span><i class="fa fa-times"></i></span>
                      </button>
                  </div>
                  
                  <div class="navbar d2c_mobile_view_body"></div>
              </div>
          </div>
          <!-- Tab And Mobile View -->
      </div>
