{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

<div class="container">
    {% block content %}
    <h2>Company Set Up</h2>

    <h3>Company Profile</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card p-3 mb-3">
            {{ set_up_form|crispy }}
        </div>
        <button type="submit" class="btn btn-primary mb-3">Save Profile</button>
    </form>

    <div class="card p-3 mb-3">
        <a href="{% url 'accounts:add_dept' %}">Add Company Departments</a>
    </div>

    <div class="card p-3 mb-3">
        <a href="{% url 'accounts:add_position' %}">Add Positions</a>
    </div>



    <div class="card p-3 mb-3">
        <a href="{% url 'accounts:add_title' %}">Add Staff Titles</a>
    </div>

    <div class="card p-3 mb-3">
        <a href="{% url 'accounts:add_contract_type' %}">Add Contract Types</a>
    </div>

{% endblock %}
</div>
