{% extends './base.html' %}
{% include './auth_navbar.html' %}
{% block content %}


<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Calendar
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Planner
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Link 4
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Link 5
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Page Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="contain p-2">
            <div class="card mb-4">
                <h3>Enjoy, you are logged in!</h3>
            </div>
            
            <a href="{% url 'company_set_up' %}" class="btn btn-primary">Company Profile</a>
        </div>
      </main>
    </div>
  </div>

{% endblock %}

