{% extends './base.html' %}
{% include './auth_navbar.html' %}
{% block content %}


<div class="container-fluid" style="height: calc(100vh - 56px); overflow-y: auto;">
    <div class="row" style="height: calc(100vh - 56px);">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
        <div class="position-sticky mb-5">
          <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="#" alt="Company Logo" height="50px" width="50px"/>
            <div>
                <p class="app-sidebar__user-name">{{ user.companyname }}</p>
                
            </div>
        </div>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item active mb-3" href="{% url 'accounts:dashboard' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a>
            </li>
            <li>
                <a class="app-menu__item mb-3" href="{% url 'calendarapp:calendar' %}"><i class="app-menu__icon fa fa-calendar"></i><span class="app-menu__label">Calendar</span></a>
            </li>
            <li>
                <a class="app-menu__item mb-3" href="{% url 'accounts:add_employee' %}"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Employees</span></a>
            </li>
            <li>
                <a class="app-menu__item mb-3" href="{% url 'accounts:add_dept' %}"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Departments</span></a>
            </li>
            <li>
                <a class="app-menu__item mb-3" href="{% url 'accounts:add_title' %}"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Titles</span></a>
            </li>
            <li>
                <a class="app-menu__item mb-3" href="{% url 'accounts:add_position' %}"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Positions</span></a>
            </li>
            <li>
                <a class="app-menu__item mb-3" href="{% url 'accounts:add_contract_type' %}"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Positions</span></a>
            </li>
            <li>
                <a class="app-menu__item mb-3" href="{% url 'accounts:company_set_up' %}"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Company Profile</span></a>
            </li>
        </ul>
        </div>
      </nav>

      <!-- Page Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="contain p-2">
            


            {% block auth_content %}


            {% endblock auth_content %}
        </div>
      </main>
    </div>
  </div>

{% endblock %}

